*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fc-font-family: 'Fredoka', sans-serif;
    --fc-color-title: #e53187;
    --fc-color-card: #0e0e16;
    --fc-color-mail: #59c2dd;
}

.container{
    max-width: 1170px;
    width: 70%;
    margin: auto;
}

h1{
    text-align: center;
    font-family: var(--fc-font-family);
    color: var(--fc-color-title);
    margin: 40px 0;
}

.container > p{
    text-align: center;
    font-family: var(--fc-font-family);
}

.row{
    margin-top: 40px;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.col{
    float: left;
    width: calc(100% / 3);
}

.card{
    margin: 0 15px;
    box-shadow: 0 0 10px #9a9a9a;
    background-color: var(--fc-color-card);
}

.card>img{
    height: 100px;
    float: left;
}

.text{
    float: left;
    font-family: var(--fc-font-family);
    padding: 10px 0 10px 15px;
    color: white;
    line-height: calc(80px / 3);
}

.name{
    font-weight: 800;
    font-size: 18px;
}

.mail{
    color: var(--fc-color-mail);
}